<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597038642642-5dftqbdklq3t263fa27qfkto1ipnkitq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597038642642-5dftqbdklq3t263fa27qfkto1ipnkitq</string>
	<key>API_KEY</key>
	<string>AIzaSyAqa7RIuVZpk5_X4F3KzB_zhlPZz_NyyO8</string>
	<key>GCM_SENDER_ID</key>
	<string>597038642642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feagle-manager</string>
	<key>PROJECT_ID</key>
	<string>dr-care-51a48</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-care-51a48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597038642642:ios:90b6ef5dc457c3652c840b</string>
</dict>
</plist>